body{
    background-image: url("http://ava7.com/w/actors/jack-black/jack-black-actor.jpg");
    background-repeat: no-repeat;
    background-size: stretch;
}

.newsfeed__movie {
    height: 38vh;
    width: auto;
    border: 1px solid black;
}

.newsfeed {
    /* background-color: lightslategray; */
    padding: 1em;
    border: 3px solid black;
}

.newsfeed__article p {
    font-style: italic;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-left: 40px;
}

.newsfeed__list {
    list-style-type: none;
    text-align:center;
}

.newsfeed__footer {
    font-size: 0.7em;
    text-align: center;
}


/* NAVBAR-CODE COPIED FROM DARYL */
.career{
    /* background-color: lightslategray; */
    font-family: Helvetica, sans-serif;
    color: black;
    border: 0.5px dotted black;

}


.section__content__career{
    font-size: 1.2em;
    text-align: justify;
    margin-left: 4em;
}
#filmTitleAndPosters{
    margin-left: -4em;
}
#filmPosters{
    display:flex;
    justify-content: left;
}
.filmimg:hover{
    box-shadow: 0 19px 26px 0 rgba(236, 220, 220, 0.2), 0 19px 40px 0 rgba(235, 182, 182, 0.19)
}

#filmPosterTitles{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.filmItem{
    font-family: Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.filmItem:hover{
    font-weight: bold;
    font-size: 1.1em;
}
.filmimg{
    border:2px solid rgb(234, 236, 231);
    margin: 0.7em;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19)

}

.award__content{
    font-style: oblique;
    font-size: 1.5em;
}

.career__paragraph{
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
}
.navbar{
    display: flex;
    font-family: 'New Rocker', cursive;
    justify-content: space-evenly;  
    padding: 50px 10px 1px 10px;
    border: 3px solid black;
    position: fixed;
    top: -8%;
    width: 95%; 
    align-content: center; 
    background-image: linear-gradient( rgb(150, 149, 149), rgba(138, 6, 6, 0.185));
    
      
}
.nav__element{
    color: black;
    text-decoration: none;
    font-size: 40px;
    align-content: center;
    padding-bottom: 30px;
   
}
/* SUBHEADING CENTER & STYLE */
.subheading{
    text-align: center;
    font-family: Helvetica, sans-serif
}
/* TEXT BELOW TITLE */
.jack-birth{
    text-align: center;
    font-weight: bold;
}
/* FAMILY INFORMATION & PICS */
.familyMembers{
    list-style-type: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.family-img{
    height: 30vh;
    width: auto;
    border: 1px solid black;

}

.name{
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    justify-content: center;
    padding-top: 4em;
     }
.Bio__Photo1{
    height: 38vh;
    width: auto;
    margin: 1em;
   
}
.Bio__Photo2{
    height: 38vh;
    width: auto;
    margin: 1em
}
.img{
    justify-content: center;
}
.photos{
    display: flex;
    justify-content: center;
    margin: 1em;
   
}
.sub__subheading{
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.subheading{
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
}

.contact{
    display: flex;
    justify-content: center;
   
}

.footer{
    display: flex;
    justify-content: center;
}

.contact__info{
    display: flex;
    font-family: Helvetica, sans-serif;
    padding: 1em  
}

.spacing{
    padding-top: 6em
}