.career{
    background-color: lightslategray;
    font-family: Helvetica, sans-serif;
    color: black;
    border: 0.5px dotted black;
}

.subheading{
    margin-left: 1.5em;
}

.section__content{
    font-size: 1.2em;
    text-align: justify;
    margin-left: 4em;
}

#filmPosters{
    display:flex;
    justify-content: center;
    
}

#filmPosterTitles{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.filmItem{
    font-family: Geneva, Tahoma, sans-serif;
}
.filmimg{
    border:2px solid black;
    margin: 0.7em;
    
}

.award__content{
    font-style: oblique;
    font-size: 1.5em;
}

.career__paragraph{
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
}